body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}
main {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.image {
    width: 250px;
    height: 250px;
    margin-top: -80px; 
}


h2{
    font-family: 'Roboto', Sans-Serif;
}
.content-container {
    display: flex;
    align-items: flex-start;  /* aligns items to the top */
}

.text {
    flex: 1;  
    margin-right: 80px;  /* this = space between text and image */
}

.image {
    width: 250px;  /* adjust size of the image */
    height: 250px;
}
